.portfolio {
  width: 75%;
  margin: 0 auto;
  padding: 20px;
}

.filter-menu {
  display: flex;
  gap: 10px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.filter-menu__item {
  padding: 3px 5px;
  border: 1px solid #696969;
  cursor: pointer;
}

.filter-menu__item:hover {
  background-color: #dfdfdf;
}

.filter-menu__item_active {
  background-color: #696969;
  color: #ffffff;
}

.gallery {
  column-count: 3;
  column-gap: 10px;
}

.gallery__image {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
